<div class="program-page program-plank">
  <div class="plank-challenge-wrapper">
    <h4 class="plank-title">record</h4>
    <div class="plank-image"></div>
    <div class="plank-time-wrapper">
      <p class="plank-time">
        <span class="plank-time-item plank-min record-min">00</span> : <span class="plank-time-item plank-sec record-sec">00</span>
      </p>
    </div>
    <div class="btn-wrapper">
      <button class="program-btn record-btn btn btn-outline-light">go</button>
    </div>
    <div class="result-wrapper">
      <p class="your-result">Your current result: <span class="last-record"></span></p>
      <p>Best result: <span class="best-result best-record"></span></p>
    </div>
  </div>

  <div class="plank-challenge-wrapper" style="display: none">
    <h4 class="plank-title">timer</h4>
    <div class="plank-image"></div>
    <div class="plank-time-wrapper">
      <button type="button" class="btn-plus btn btn-outline-light">+</button>
      <button type="button" class="btn-minus btn btn-outline-light">-</button>
      <p class="plank-time">
        <span class="plank-time-item plank-min">00</span> : <span class="plank-time-item plank-sec">00</span>
      </p>
    </div>
    <div class="btn-wrapper">
      <button class="program-btn timer-btn btn btn-outline-light">go</button>
    </div>
    <div class="result-wrapper">
      <p class="your-result">Your current result: <span class="last-timer"></span></p>
      <p>Best result: <span class="best-result best-timer"></span></p>
    </div>
  </div> 
</div>