<div class="stats-wrapper">
  <div class="stats-workout-wrapper">
    <ul class="stats-workout-list">
      <li class="stats-workout-item">
        <p class="stats-workout-value workout-stats-total"></p>
        <p class="stats-workout-text">Workouts</p>
      </li>
      <li class="stats-workout-item">
        <p class="stats-workout-value kkal-stats-total"></p>
        <p class="stats-workout-text">Kkal</p>
      </li>
      <li class="stats-workout-item">
        <p class="stats-workout-value duration-stats-total"></p>
        <p class="stats-workout-text">Duration</p>
      </li>
    </ul>
  </div>
  <div class="stats-days-wrapper">
    <p class="stats-level">Level: <span class="stats-level-value"></span></p>
    <div class="stats-dayslist-wrapper">
      <ul class="stats-days-list">
      </ul>
    </div>
    <div class="stats-workout-wrapper">
      <ul class="stats-workout-list">
        <li class="stats-workout-item">
          <p class="stats-workout-value user-weight"></p>
          <p class="stats-workout-text">Weight</p>
        </li>
        <li class="stats-workout-item">
          <p class="stats-workout-value user-height"></p>
          <p class="stats-workout-text">Height</p>
        </li>
        <li class="stats-workout-item">
          <p class="stats-workout-value user-gender"></p>
          <p class="stats-workout-text">Gender</p>
        </li>
      </ul>
    </div>
    <div class="bmi-wrapper">
      <p class="bmi-title">BMI <span class="bmi-formula">(kg/m<sup>2</sup>)</span> : <span class='bmi-value'></span></p>
      <ul class='bmi-list'>
      </ul>
      <p class="bmi-text-value"></p>

    </div>
  </div>
</div>
