@import '../common/colors.css';

.container-xl	 {
  border: 1px dashed red;
}

.navbar {
  padding: 0;
  background-color: var(--blackOpacity);
}

.navbar .header-navbar {
  padding: 0px 15px;
  height: 50px;
}

.navbar-nav {
  margin-left: auto;
}

.nav-link,
.navbar-brand {
  text-transform: uppercase;
}

.navbar-brand {
  padding-left: 30px;
  background: url(../../../assets/images/common/app-icon.png) no-repeat 0 center;
  background-size: 25px auto;
}
