@import 'fonts.css';
@import 'colors.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Raleway', 'Arial Narrow', Arial, sans-serif;
  min-height: 500px;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
button {
  outline: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

button:active {
  outline: none;
  transform: scale(0.9);
}

.main-app {
  min-height: calc(100% - 50px);
}

